@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Iosevka;
    font-weight: 400;
    src: url('../assets/fonts/Iosevka-Medium.ttf') format("truetype");
  }
  @font-face {
    font-family: Iosevka;
    font-weight: 400;
    src: url('../assets/fonts/Iosevka-Medium-Italic.ttf') format("truetype");
    font-style: italic;
  }

  button, input {
    @apply outline-none
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
